<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!local &amp; !test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="co/elastic/logging/logback/boot/ecs-console-appender.xml"/>
        <appender name="ECS_JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="co.elastic.logging.logback.EcsEncoder">
                <serviceName>${spring.application.name}</serviceName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="ECS_JSON_CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="local|test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yy-MM-dd E HH:mm:ss.SSS} %clr(%-5p) %blue([%thread]) %cyan(%logger{10}) [%file : %line] - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="LOCAL"/>
        </root>
    </springProfile>
</configuration>
